body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
  padding-top: 1px;
  box-sizing: border-box;
  background-color: #fff;
}
.el-form-item {
  .el-form-item__content {
    margin-left: 0 !important;
  }
}
